body{
  background-color: #f5ebd2;
}
.header{ 
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
  }
  .navBar{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .title{
    font-size: 2rem;
    display: flex;
    gap: 1rem;
  }

  .title{
    color: #E7411C;
    font-family: "Ultra", serif;
    font-size: 4rem;
    margin-left: 2rem;
  }
  .img-title{
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .navBar-ul{
    display: flex;
    gap: 2rem;

  }
  .navBar-li{
    list-style: none;
    transition: all linear .3s;
  }
  .navBar-li:hover{
    transform: scale(1.1);
  }
  .navBar-a{
    font-size: 2rem;
    text-decoration: none;
    color: #4e2313;
    font-family: 'Ultra', serif;
    
  }
  .icon-button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
  }
  .subtitle{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: "DM Serif Display", serif;
    color: #4e2313;
  }
  